// app global css

@font-face{
font-family: prompt-regular;
src:url(../assets/Prompt-Regular.ttf)
}
@font-face{
font-family: prompt-bold;
src:url(../assets/Prompt-Bold.ttf)
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: prompt-regular;
}

.brx{
  border:1px solid#f00;
}

.my-img-content{
  display: block;
  margin:auto;
  width: 100%;
}