<!DOCTYPE html>
<html>

<head>

  <!-- Primary Meta Tags -->
  <title>Winner english</title>
  <meta name="title" content="Winner english">
  <meta name="description" content="โปรแกรมเรียนภาษาอังกฤษออนไลน์ สำหรับเด็กประถมและมัธยมต้น">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://website-winner.firebaseapp.com/">
  <meta property="og:title" content="Winner english">
  <meta property="og:description" content="โปรแกรมเรียนภาษาอังกฤษออนไลน์ สำหรับเด็กประถมและมัธยมต้น">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://website-winner.firebaseapp.com/">
  <meta property="twitter:title" content="Winner english">
  <meta property="twitter:description" content="โปรแกรมเรียนภาษาอังกฤษออนไลน์ สำหรับเด็กประถมและมัธยมต้น">
  <meta property="twitter:image" content="">

  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
  <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
  <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.5.0/firebase-firestore.js"></script>
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>
